
<!-- <h1>{{title}}</h1> -->

<!-- {{users|json}} -->
<!-- @for (user of users; track user) {
  <table>
    <tr>
      <th>  ID    </th>
      <th>  NAME    </th>
      <th>  AGE    </th>
    </tr>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
  </table>

  <button (click)="clickevent()">click me</button> -->
  <!-- <p>{{ user.id }}</p>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p> -->
  <!-- } @empty {
  <P>There are no items.</P>
  } -->



<!-- 
  

  <table>
    <thead>
    <tr>
      <th>  ID    </th>
      <th>  NAME    </th>
      <th>  AGE    </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let user of users">

      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
    </tr>
  </tbody>
  </table>

  <button #myButton>click me</button>

  <div *ngIf="displayUser" class="user-cards">
    <div *ngFor="let user of users" class="card">
      <h3>User: {{ user.name }}</h3>
      <p>ID: {{ user.id }}</p>
      <p>Age: {{ user.age }}</p>
    </div>
  </div> -->
  <!-- <p>{{ user.id }}</p>
  <p>{{ user.name }}</p>
  <p>{{ user.age }}</p> -->

  <!-- <app-custome-observable></app-custome-observable> -->

<app-lerning></app-lerning>

<router-outlet></router-outlet>


